<form method="post">

       <fieldset>
          <legend>Adding a Recipe-</legend>
          <p>
             <label>Recipe Title:</label>
             <input type="text"/>
          </p>
           <p>
             <label>Source:</label>
             <input type="text"/>
          </p>
       </fieldset>
       <fieldset>
          <legend>Ingredients-</legend>
          <div id="itemRows">
  
          
          <p>
             <label>Qty:</label>
             <input type="number"name="add_qty" size="4"/>
          </p>
           <p>
             <label>Measured Units</label>
             <select id = "myList">
               <option value = "1">Cups</option>
               <option value = "2">Tbls</option>
               <option value = "3">Tsp</option>
               <option value = "4">oz</option>
             </select>
          </p>
             <p>
             <label>Ingredient name</label>
             <input type="text"name="add_name"/>
          </p>
             <p>
            <input onclick="addRow(this.form);" type="button" value="Add row" />
          </p>
          </div>
       </fieldset>
        <fieldset>
          <legend>Directions</legend>
          <p>
             <textarea name="textarea" rows="10" cols="50">Type Directions here</textarea>
           
          </p>
          <p><input type="submit">
           
          </p>
  
       </fieldset>
    </form>