<h2>Today's Menu</h2>
    <div class="home-menu container">
 		<div class="row">
        	<h3>Breakfast</h3>
            <div class="row">
            	<div class="col-xs-10 col-xs-offset-1">
                	<ul>
                    	<li>Scrambled Eggs</li>
                        <li>Hash Browns</li>
                        <li>Orange Juice</li>
                    </ul>
                </div>
            </div>
            <h3>Lunch</h3>
            <div class="row">
            	<div class="col-xs-10 col-xs-offset-1">
                	<ul>
                    	<li>Turkey Sandwich</li>
                        <li>Small Salad</li>
                        <li>Water</li>
                    </ul>
                </div>
            </div>
            <h3>Dinner</h3>
            <div class="row">
            	<div class="col-xs-10 col-xs-offset-1">
                	<ul>
                    	<li>Grilled Chicken</li>
                        <li>Steamed Veggies</li>
                        <li>Roll</li>
                    </ul>
                </div>
            </div>
            <h3>Dessert</h3>
            <div class="row">
            	<div class="col-xs-10 col-xs-offset-1">
                	<ul>
                    	<li>Lemon Meringue Pie</li>
                    </ul>
                </div>
            </div>
        </div>
  	</div>
    <div class="row">
    	<div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <a class="btn btn-success col-xs-5 text-center"><span class="glyphicon glyphicon-list" style="font-size: 28px; width: 28px;">&nbsp;</span><br>Today's <br class="visible-xs">Groceries</a>
                <a class="btn btn-success col-xs-5 text-center col-xs-offset-2"><span style="font-size: 28px; width: 28px;" class="glyphicon glyphicon-plus">&nbsp;</span><br>Add a <br class="visible-xs">Recipe</a>
            </div>
        </div>
     </div>
  <hr>