		<div class="jumbotron">
          <div class="container">
            <h1><span class="glyphicon glyphicon-shopping-cart">&nbsp;</span> Shopping&nbsp;List</h1>
          </div>
        </div>
    
        <div class="container">
        <p>Be sure to get everything on the list</p>
          <div class="row">
          	<div class="col-xs-4">
            	<h4>What to Get</h4>
            </div>
            <div class="col-xs-7">
            	<h4>Amount Needed</h4>
            </div>
          </div>
        <div ng-repeat="recipe in recipes">
          <div class="row" ng-repeat="ingredient in recipe.ingredients">
          	<div class="col-xs-1">
            	<input type="checkbox" />
            </div>
            <div class="col-xs-3">
            	{{ingredient.ingredient}}
            </div>
            <div class="col-xs-7">
            	{{ingredient.amount + " " + ingredient.amountType}}
            </div>
          </div>
  		</div>
    	</div>
        <hr>