<h1>Planner <br><small>This week</small></h1>

<div id="weekContainer">
	<h3>Monday</h3>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    {{recipes.Monday}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation" ng-repeat="recipe in recipes"><a role="menuitem" ng-click="selectRecipie(recipe.name, 'Monday', recipe._id)" tabindex="-1" >{{recipe.name}}</a></li>
		  </ul>
		</div>
	<h3>Tuesday</h3>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    {{recipes.Tuesday}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation" ng-repeat="recipe in recipes"><a role="menuitem" ng-click="selectRecipie(recipe.name, 'Tuesday', recipe._id)" tabindex="-1" >{{recipe.name}}</a></li>
		  </ul>
		</div>
	<h3>Wednesday</h3>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    {{recipes.Wednesday}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation" ng-repeat="recipe in recipes"><a role="menuitem" ng-click="selectRecipie(recipe.name, 'Wednesday', recipe._id)" tabindex="-1" >{{recipe.name}}</a></li>
		  </ul>
		</div>
	<h3>Thrusday</h3>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    {{recipes.Thursday}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation" ng-repeat="recipe in recipes"><a role="menuitem" ng-click="selectRecipie(recipe.name, 'Thursday', recipe._id)" tabindex="-1" >{{recipe.name}}</a></li>
		  </ul>
		</div>
	<h3>Friday</h3>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    {{recipes.Friday}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation" ng-repeat="recipe in recipes"><a role="menuitem" ng-click="selectRecipie(recipe.name, 'Friday', recipe._id)" tabindex="-1" >{{recipe.name}}</a></li>
		  </ul>
		</div>
	<h3>Saturday</h3>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    {{recipes.Saturday}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation" ng-repeat="recipe in recipes"><a role="menuitem" ng-click="selectRecipie(recipe.name, 'Saturday', recipe._id)" tabindex="-1" >{{recipe.name}}</a></li>
		  </ul>
		</div>
	<h3>Sunday</h3>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    {{recipes.Sunday}}
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation" ng-repeat="recipe in recipes"><a role="menuitem" ng-click="selectRecipie(recipe.name, 'Sunday', recipe._id)" tabindex="-1" >{{recipe.name}}</a></li>
		  </ul>
		</div>
</div>
