<h1>Planner <br><small>This week</small></h1>

<div id="weekContainer">
	<h3>Monday</h3>
		<button type="button" class="btn btn-primary btn-xs">Add Recipe</button>
	<h3>Tuesday</h3>
		<button type="button" class="btn btn-primary btn-xs">Add Recipe</button>
	<h3>Wednesday</h3>
		<button type="button" class="btn btn-primary btn-xs">Add Recipe</button>
	<h3>Thrusday</h3>
		<button type="button" class="btn btn-primary btn-xs">Add Recipe</button>
	<h3>Friday</h3>
		<button type="button" class="btn btn-primary btn-xs">Add Recipe</button>
	<h3>Saturday</h3>
		<button type="button" class="btn btn-primary btn-xs">Add Recipe</button>
	<h3>Sunday</h3>
		<button type="button" class="btn btn-primary btn-xs">Add Recipe</button>
</div>

